.additionals-products__container {
  width: 280px;
}

.additionals-products__header-container {
  padding: 24px 0 36px;
}

.additionals-products__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $secondary-color;
  margin: 0;
  font-weight: 400;
  margin-left: 20px;
  position: relative;
}

.additionals-products__title::after {
  content: "";
  z-index: -1;
  background-image: linear-gradient(to left, #68b738 54px, #ffffff 54px);
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 10px;
  right: -20px;
}

.additionals-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additionals-products__gift {
  position: relative;
}

.additionals-products__gift-text::before {
  background-image: url("../../icons/icon_gift.svg");
  background-size: 80px 83px;
  width: 80px;
  height: 83px;
  position: absolute;
  content: "";
  background-color: rgb(131, 131, 131);
}

@media (min-width: $tablet-width) {
  .additionals-products__header-container {
    padding: 14px 0 80px;
    position: relative;
  }

  .additionals-products__container {
    width: 708px;
    margin-bottom: 70px;
  }

  .additionals-products__title {
    font-size: 32px;
    line-height: 32px;
    margin-left: 70px;
  }

  .additionals-products__title::after {
    content: "";
    z-index: -1;
    background-image: linear-gradient(to right, #68b738 30px, #ffffff 30px 411px, #68b738 411px);
    min-width: 768px;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 14px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .additionals-products {
    display: flex;
    flex-wrap: wrap;
  }

  .additionals-products__header-container {
    padding: 7px 0 80px;
  }

  .additionals-products__title {
    font-size: 40px;
    line-height: 40px;
    margin-left: 110px;
    position: static;
  }

  .additionals-products__title::after {
    top: 25px;
    background-image: linear-gradient(to right, #68b738 70px, #ffffff 70px 526px, #68b738 526px);
  }

  .additionals-products__container {
    width: 896px;
    margin: 0;
    margin-left: 110px;
    margin-right: 80px;
  }
}
