.additionals-products__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $secondary-color;
}


.additionals-products__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.additionals-products__gift {
  position: relative;
}

.additionals-products__gift-text::before {
  background-image: url("../../icons/icon_gift.svg");
  background-size: 80px 83px;
  width: 80px;
  height: 83px;
  position: absolute;
  content: "";
  background-color: rgb(131, 131, 131);
}

@media (min-width: $tablet-width) {
  .additionals-products__title {
    font-size: 32px;
    line-height: 32px;
  }
}

