.additionals-products__container {
  width: 280px;
}

.additionals-products__header-container {
  padding: 25px 0 36px;
}

.additionals-products__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $secondary-color;
  margin: 0;
  font-weight: 400;
}

.additionals-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additionals-products__gift {
  position: relative;
}

.additionals-products__gift-text::before {
  background-image: url("../../icons/icon_gift.svg");
  background-size: 80px 83px;
  width: 80px;
  height: 83px;
  position: absolute;
  content: "";
  background-color: rgb(131, 131, 131);
}

@media (min-width: $tablet-width) {
  .additionals-products__title {
    font-size: 32px;
    line-height: 32px;
  }
}

