.additionals-products__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $secondary-color;
}


.additionals-products__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .additionals-products__title {
    font-size: 32px;
    line-height: 32px;
  }
}

