.additionals-products__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $secondary-color;
}

.aditionals-products__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
