
.advantages__title {
  font-size: 36px;
  line-height: 40px;
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__item {
    font-size: 16px;
    line-height: 24px;
  }
}

