.contacts {
  position: relative;
}

.contacts__container {
  width: 280px;
  padding: 26px 0;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__wrapper p {
  width: 140px;
  margin: 0;
}

.contacts__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
}

.contacts__map iframe {
  height: 362px;
  margin: 0 auto;
  border: none;
  position: absolute;
  width: 100%;
  top: 114px;
  left: 0;
  display: block;
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
  }

  .contacts__container {
    width: 628px;
    padding: 60px 0;
  }

  .contacts__wrapper p {
    width: 163px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .contacts__address span {
    margin-top: 20px;
    display: block;
  }

  .contacts__map iframe {
    height: 400px;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
  }

  .contacts__map-image {
    margin: 0 auto;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 8px;
  }

  .contacts__map iframe {
    height: 400px;
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
  }

  .contacts__container {
    position: absolute;
    padding: 59px 79px;
    background-color: #ffffff;
    width: 565px;
    margin: 95px 0 106px calc(50vw - 610px);
    z-index: 1;
  }

  .contacts__wrapper {
    justify-content: start;
  }

  .contacts__wrapper .contacts__title {
    margin-right: 93px;
  }

  .contacts__address {
    text-align: start;
  }
}
