.contacts__container {
  width: 280px;
  padding: 26px 0;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__wrapper p {
  width: 140px;
  margin: 0;
}

.contacts__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
}

.contacts__map iframe {
  width: 320px;
  height: 362px;
  display: block;
  margin: 0 auto;
  border: none;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    width: 628px;
    padding: 60px 0;
  }

  .contacts__wrapper p {
    width: 163px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .contacts__address span {
    margin-top: 20px;
    display: block;
  }

  .contacts__map iframe {
    width: 100%;
    height: 400px;
  }

  .contacts__map iframe {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 8px;
    position: relative;
  }

  .contacts__map iframe {
    width: 1440px;
    height: 400px;
  }

  .contacts__container {
    position: absolute;
    padding: 59px 79px;
    background-color: #ffffff;
    width: 565px;
    margin: 95px 0 106px calc(50vw - 610px);
  }

  .contacts__wrapper {
    justify-content: start;
  }

  .contacts__wrapper .contacts__title {
    margin-right: 93px;
  }

  .contacts__address {
    text-align: start;
  }
}
