.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }
}

