.gift__image {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/image-gift@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 280px;
  height: 290px;
  margin: 0 auto;
  display: block;
  margin-top: 35px;
  background-size: cover;
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

@media (min-resolution: 2dppx) {
  .gift__image {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/image-gift@2x.jpg");
  }
}
