.main-footer {
  padding: 39px 0;
  background-color: #f2f2f2;
}

.main-footer__container {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__name-company {
  margin-bottom: 15px;
}

.main-footer__name-company-link:hover svg {
  opacity: 0.8;
}

.main-footer__name-company-link:active svg {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 43px;
  }

  .main-footer__container {
    flex-direction: row;
    width: 708px;
    justify-content: space-between;
  }

  .main-footer__name-company {
    margin: 0;
    margin-right: 37px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding: 54px 0;
  }

  .main-footer__container {
    width: 1220px;
  }
}
