.main-nav {
  font-family: "Oswald", sans-serif;
}

.main-nav-link {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: $secondary-color;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-nav-link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav-link {
    color: #ffffff;
  }
}

