.more-products__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.more-products__text {
  font-size: 12px;
  line-height: 16;
  text-align: center;
}

