.more-products {
  padding: 26px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px #ebebeb solid;
}

.more-products__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-top: 51px;
  margin-bottom: 8px;

  &::before,
  &::after {
    width: 25px;
    height: 2px;
    top: 37px;
    left: 148px;
    content: "";
    position: absolute;
    background-color: #d3d3d3;
  }

  &::before {
    transform: rotate(90deg);
    box-shadow: n;
  }
}

.more-products__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
}

.button--show-more {
  background-color: #f2f2f2;
  color: $primary-color;
}

@media (min-width: $tablet-width) {
  .more-products {
    width: 324px;
    align-self: center;
    min-height: 429px;
    border: 1px #f2f2f2 solid;
    margin-top: 21px;
    padding: 0 37px;
    padding-top: 160px;
  }

  .more-products__title {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    width: 170px;
    align-self: center;
    margin-bottom: 23px;
  }

  .more-products__text {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    align-self: center;
    margin-bottom: 82px;
  }
}

@media (min-width: $desktop-width) {
  .more-products {
    width: 245px;
    padding-top: 147px;
  }

  .more-products__title {
    margin-bottom: 25px;
  }

  .more-products__text {
    margin-bottom: 90px;
  }
}
