.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  padding: 20px 20px 25px;
}

.catalog-nutrition__list li {
  border-top: 1px #ebebeb solid;
}

.catalog-nutrition__list li:last-child {
  border-bottom: 1px #ebebeb solid;
}

.product-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  grid-column: 2/3;
  margin: 0;
  font-weight: 400;
  margin-bottom: 14px;
}

.product-card__image {
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 10px 36px;
}

.product-card__list {
  grid-column: 2/3;
  margin-bottom: 21px;
}

.product-card__button {
  grid-column: 1/3;
}

.product-card__item {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .produc-card__title {
    font-size: 20px;
    line-height: 24px;
  }

  .product-card__item {
    font-size: 16px;
    line-height: 20px;
  }
}

