.programms__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $secondary-color;
}

.programms__link {
  font-size: 16px;
  line-height: 16px;
  color: $secondary-color;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .programms__title {
    font-size: 36px;
    line-height: 36px;
  }

  .programms__description {
    font-size: 16px;
    line-height: 24px;
  }

  .programms__link {
    font-size: 20px;
  }
}

