.subscribe {
  font-family: $secondary-font;
}

.subscribe__container {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.subscribe__title {
  font-size: 24px;
  line-height: 24px;
  color: $secondary-color;
  font-weight: 400;
  margin: 0;
  margin-bottom: 32px;
  position: relative;
  margin-left: 20px;
}

.subscribe__title::after {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to left, $basic-green 128px, #ffffff 128px);
  content: "";
  display: block;
  position: absolute;
  right: -20px;
  top: 9px;
  z-index: -1;
}

.subscribe__text {
  font-size: 16px;
  line-height: 24px;
  color: $secondary-color;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
}

.subscribe__input {
  width: 280px;
  min-height: 56px;
  padding: 16px 11px 11px;
  margin-bottom: 15px;
}

.subscribe__button {
  min-height: 60px;
  margin-bottom: 36px;
  font-size: 20px;
  line-height: 26px;
}

.subscribe__input::placeholder {
  font-family: $secondary-font;
  font-size: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .subscribe__header-container {
    position: relative;
  }

  .subscribe__container {
    width: 708px;
    position: relative;
    align-items: center;
    padding-bottom: 80px;
  }

  .subscribe__title {
    font-size: 32px;
    line-height: 32px;
    margin-left: 70px;
    margin-bottom: 66px;
  }

  .subscribe__title::after {
    content: "";
    z-index: -1;
    background-image: linear-gradient(to right, #68b738 30px, #ffffff 30px 312px, #68b738 312px);
    min-width: 768px;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 13px;
    right: 0;
  }

  .subscribe__text {
    font-size: 24px;
    line-height: 32px;
    width: 632px;
  }

  .subscribe__form {
    flex-direction: row;
  }

  .subscribe__input {
    width: 376px;
    margin: 0;
  }

  .subscribe__button {
    margin: 0;
    width: 256px;
    min-height: 56px;
  }
}

@media (min-width: $desktop-width) {
  .subscribe__container {
    padding-bottom: 97px;
  }

  .subscribe__title {
    font-size: 40px;
    line-height: 40px;
    margin-left: 110px;
    margin-bottom: 72px;
    position: static;
  }

  .subscribe__title::after {
    top: 18px;
    background-image: linear-gradient(to right, #68b738 70px, #ffffff 70px 403px, #68b738 403px);
  }

  .subscribe__text {
    width: 652px;
  }

  .subscribe__input {
    width: 496px;
  }
}
